
<% unless comment.new_record? %>

<div class="comment">

  <div class="comment-content">
    <br>
    <p><%= comment.user.email %> said:</p>
    <p><%= comment.body %></p>
    <p class="comment-detail"><%= time_ago_in_words(comment.created_at) %> ago</p>

      <% if current_user && current_user.already_flagged?(@comment) %>
        <%= link_to "Unflag", flag_topic_comment_path(@topic, @comment, type: "flag"),   method: :put %>
      <% else %>
        <%= link_to "Flag",   flag_topic_comment_path(@topic, @comment, type: "unflag"), method: :put %>
      <% end -%>

    <br>
  </div>
</div>

<% end -%>
