<% comments.each do |comment| %>
  <% unless comment.new_record? %>
    <div class="list-group comments">
      <div class="list-group-item">
        <p><%= comment.user.email %> said:</p>
        <p><%= comment.body %></p>
        <p class="comment-detail"><%= time_ago_in_words(comment.created_at) %> ago</p>
          <% if current_user && current_user.already_flagged?(comment) %>
            <%= link_to "Unflag", unflag_topic_comment_path(topic, comment), method: :put, class: "btn btn-warning btn-xs" %>
          <% else %>
            <%= link_to "Flag",   flag_topic_comment_path(topic, comment), method: :put, class: "btn btn-danger btn-xs" %>
          <% end -%>
        <br>
      </div>
    </div>
  <% end -%>
<% end -%>
