
<%= form_for [:admin, topic] do |f| %>

<div class"field">
  <%= f.label      :title %>
  <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label     :body %>
  <%= f.text_area :body %>
</div>

<div class="action">
  <%= f.submit %>
  <span>or</span>
  <%= link_to "Cancel", root_path %>
</div>
<% end -%>



