<!DOCTYPE html>
<html>
<head>
  <title>FinalInsignia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1><%= link_to "Topicana", root_path%></h1>
     <p>
     <% if current_user %>
       Logged in as <strong> <%= current_user.email %> </strong> |
       <%= link_to "Log out",    destroy_user_session_path,method: :delete %> |
       <% if current_user.admin? %>
         <%= link_to "New topic", new_topic_path %>
       <% end -%>
      <% else %>
        <%= link_to "Log In", user_session_path %> |
        <%= link_to "Sign up",     new_user_registration_path %>
      <% end -%>
     </p>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<hr>

<%= yield %>

</body>
</html>
